<div class="col-sm-2">
    <h1 class="mb1">
        <%= status.name %>
        <span class="badge badge-dark"><%= (tickets_per_status = get_tickets_per_status(status)).count() %></span>
    </h1>
    <div id="<%= dom_id(status) %>" class="tickets list-group" data-url="<%= sort_tickets_path %>">
        <%= render :partial => tickets_per_status %>
    </div>
</div>
