<div id="<%= dom_id(status) %>" class="col-sm-2" data-status-id="<%= status.id %>">

    <%= render :partial => 'status_badge', locals: { name: status.name, count: (tickets_per_status = get_tickets_per_status(status)).count() } %>
    <div class="tickets list-group" data-url="<%= update_list_tickets_path %>">
        <!-- Render tickets for current status -->
        <%= render :partial => tickets_per_status %>
    </div>
</div>
