<div id="<%= dom_id(ticket) %>" class="ticket" data-ticket-id="<%= ticket.id %>" >
    <div class="card text-white bg-dark border-primary mb-3" style="max-width: 18rem;">
        <h3 class="card-header"><%= ticket.title %></h3>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-5">Tracker:</dt>
                <dt class="col-sm-6"><%= ticket.tracker %></dt>
                <dt class="col-sm-5">External ID:</dt>
                <dd class="col-sm-6"><%= ticket.external_id %></dd>
                <dt class="col-sm-5">Assignee:</dt>
                <dd class="col-sm-6"><%= ticket.assignee %></dd>
                <dt class="col-sm-5">Priority:</dt>
                <dd class="col-sm-6"><%= ticket.priority %></dd>
            </dl>
            <a href="<%= ticket.url %>" class="btn btn-primary">Go To The ticket</a>
        </div>
    </div>
</div>
