<div id="ticket-lists" class="container-fluid">
    <div class="row flex-row flex-nowrap">
        <% Status.all.each do |status| %>
            <div class="col-sm-2">
                <h1 class="mb1"> <%= status.status %> <span class="badge badge-dark"><%= Ticket.where(status: status).all.count() %></span> </h1>
                <div id="<%= dom_id(status) %>" class="tickets list-group" data-url="<%= sort_tickets_path %>">
                    <% Ticket.where(status: status).all.each do |ticket| %>
                        <div id="<%= dom_id(ticket) %>" class="ticket">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= ticket.title %></h5>
                                    <small><%= ticket.tracker %></small>
                                </div>
                                <p class="mb-1"><%= ticket.external_id %></p>
                                <p class="mb-1">Assignee:
                                    <%= ticket.assignee %></p>
                                <p class="mb-1">Priority:
                                    <%= ticket.priority %></p>
                                <p class="mb-1">Status:
                                    <%= ticket.status.status %></p>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'tickets', 'data-turbolinks-track': 'reload' %>
